.burger-button {
  position: relative;
  z-index: var(--layer-3);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-button__burger-cross,
.burger-button--open .burger-button__burger-menu {
  display: none;
}

.burger-button__burger-menu,
.burger-button--open .burger-button__burger-cross {
  display: block;
}

@media(width > 767px) {
  .burger-button {
    display: none;
  }
}