body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Menlo';
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

textarea {
  resize: vertical;
  min-height: 30px;
  max-height: 150px;
}

:focus-visible {
  outline: 2px dashed linen;
  outline-offset: 2px;
  transition-duration: 0s !important;
}

.container {
  max-width: 1600px;
  padding-inline: 16px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form,
.input,
.submit-button {
  border: 1px solid indianred;
}

.submit-button,
.input {
  display: block;
  background-color: linen;
}

.checkbox,
.submit-button {
  cursor: pointer;
}

.form {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  border-radius: 5px;
  color: linen;
  background-color: salmon;
}

.title {
  margin-top: 0;
  margin-bottom: 1rem;
}

.input {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 5px 10px;
  width: 100%;
  border-radius: 5px;
}

.input:disabled {
  opacity: 0.7;
}

.checkbox-group span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox {
  position: absolute;
  appearance: none;
  outline: none;
}

.checkbox:disabled + span,
.checkbox:disabled + span::before {
  opacity: 0.7;
  cursor: default;
}

.checkbox-group span::before {
  content: '';
  display: inline-block;
  width: 16px;
  aspect-ratio: 1;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid indianred;
  background-color: linen;
}

.checkbox:checked + span::before {
  background: url('../icons/check-icon.svg') no-repeat center / contain, linen;
}

.checkbox:focus-visible + span::before {
  outline: 2px dashed linen;
  outline-offset: 2px;
}

.submit-button {
  margin-top: 20px;
  padding: 6px 18px;
  border-radius: 5px;
  font-family: 'Menlo';
  color: gray;
  transition: transform 0.2s;
}

.submit-button:hover {
  transform: scale(1.05);
}

.submit-button:not(:disabled):active {
  background-color: #F6E6D2;
}

.submit-button:disabled {
  transform: none;
  opacity: 0.7;
  cursor: default;
}


