.hero {
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  bottom: 106px;
  z-index: -10;
  display: block;
  width: 100%;
  height: 48px;
  background: url('../icons/decor-icon-large.svg') repeat-x;
}

.hero__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.hero__info {
  max-width: 492px;
}

.hero__title strong {
  color: var(--color-accent);
}

.hero__description {
  max-width: 439px;
  margin-bottom: 140px;
  line-height: 1.3;
}

.hero__body {
  position: relative;
  display: flex;
}

.hero__choose-coach {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 161px;
  padding: 22px;
  border: 1px solid #535755;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.last-news__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.news-card {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  max-width: 284px;
  border: var(--border);
  background-color: var(--color-white);
  overflow: hidden;
}

.news-card__info {
  row-gap: 8px;
  padding: 20px 20px 0;
}

.news-card__date {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-gray);
}

.news-card__title {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: var(--color-dark);
  text-transform: none;
}

.news-card footer {
  padding: 0 20px 20px;
}

.news-card__link {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  column-gap: 8px;
  color: var(--color-accent);
}

.news-card__link:hover {
  color: var(--color-accent-light);
}

.news-card__link svg {
  transition-duration: var(--transition-duration);
}

.news-card__link:hover svg {
  transform: translateX(5px);
  color: var(--color-accent-light);
}

.faq {
  position: relative;
}

.faq::before {
  position: absolute;
  content: '';
  top: 215px;
  width: calc(50% - 250px);
  height: 48px;
  background: url('../icons/decor-icon-large.svg') no-repeat;
  z-index: -10;
}

.faq__body {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.faq__accordion {
  --indicatorRotate: 0deg;

  display: flex;
  flex-direction: column;
  border-block: 1px solid var(--color-light-gray);
}

.faq__accordion[open] {
  --indicatorRotate: 180deg;
}

.faq__accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  padding: 20px;
  cursor: pointer;
}

.faq__accordion-indicator {
  position: relative;
}

.faq__accordion-indicator::after {
  content: '';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 22px;
  background: url('../icons/arrow-bottom.svg') no-repeat;
  transition-duration: var(--transition-duration);
  transform: rotate(var(--indicatorRotate));
}

.faq__accordion-body {
  padding: 0 20px 20px;
  line-height: 1.30;
}



