.feedback-card {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  height: 100%;
  border-radius: var(--border-radius-s);
  border: var(--border);
}

@media (width > 768px) {
  .feedback-card {
    min-height: 240px;
    padding: 28px 32px;
  }
}

@media (width <= 768px) {
  .feedback-card {
    min-height: 180px;
    padding: 24px;
  }
}

.feedback-card__author {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

@media (width <= 768px) {
  .feedback-card__text {
    font-size: 14px;
  }
}



