.footer {
  margin-top: -90px;
  background-color: var(--color-gray-alt);
}

@media (width <= 1024px) {
  .footer {
    margin-top: -146px;
  }
}

@media (width > 1024px) {
  .footer__body {
    padding-top: 140px;
    padding-bottom: 50px;
  }
}

@media (width <= 1024px) {
  .footer__body {
    padding-top: 190px;
    padding-bottom: 40px;
  }
}

.footer__menu {
  display: grid;
}

@media (width > 1200px) {
  .footer__menu {
    gap: 117px;
  }
}

@media (width <= 1200px) {
  .footer__menu {
    gap: 50px;
  }
}

@media (width > 1024px) {
  .footer__menu {
    grid-template-columns: 20% repeat(4, 1fr);
  }
}

@media (width <= 1024px) {
  .footer__menu {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

@media (width <= 576px) {
  .footer__menu {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

.footer__menu-column {
  display: flex;
  flex-direction: column;
}

@media (width > 1024px) {
  .footer__menu-column {
    row-gap: 26px;
  }
}

@media (width <= 1024px) {
  .footer__menu-column {
    row-gap: 16px;
  }
}

@media (width <= 576px) {
  .footer__menu-column--large {
    grid-column: 1 / -1;
    order: -1;
  }
}

.footer__menu-about {
  font-size: 14px;
  line-height: 1.57;
}

@media (width <= 576px) {
  .footer__menu-about {
    line-height: 1.43;
  }
}

@media (width > 576px) {
  .footer__soc1als {
    margin-top: 9px;
  }
}

@media (width <= 576px) {
  .footer__soc1als {
    margin-top: 3px;
  }
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
}

@media (width > 1024px) {
  .footer__menu-list {
    row-gap: 20px;
  }
}

@media (width <= 1024px) {
  .footer__menu-list {
    row-gap: 10px;
  }
}

.footer__menu-main-link {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-dark);
}

@media (width > 768px) {
  .footer__menu-main-link {
    font-size: 16px;
    letter-spacing: 0.19em;
  }
}

@media (width <= 768px) {
  .footer__menu-main-link {
    font-size: 14px;
    letter-spacing: 0.21em;
  }
}

@media (any-hover: hover) {
  .footer__menu-main-link:hover {
    color: var(--text-color);
  }
}

@media (width <= 768px) {
  .footer__menu-link {
    font-size: 14px;
  }
}

@media (any-hover: hover) {
  .footer__menu-link:hover {
    color: var(--color-dark);
  }
}

.footer__extra-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  border-top: var(--border);
}

@media (width <= 1200px) {
  .footer__extra-inner {
    margin-inline: 16px;
  }
}

@media (width > 768px) {
  .footer__extra-inner {
    padding-top: 20px;
    padding-bottom: 82px;
  }
}

@media (width <= 768px) {
  .footer__extra-inner {
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 77px;
  }
}

.footer__copyright {
  font-size: 14px;
}

.footer__payment-list {
  display: flex;
  align-items: center;
}

@media (width > 768px) {
  .footer__payment-list {
    column-gap: 12px;
  }
}

@media (width <= 768px) {
  .footer__payment-list {
    column-gap: 10px;
  }
}
