*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	scrollbar-gutter: stable;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

:where(
	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	dl,
	blockquote,
	figure,
	fieldset
) {
	margin: 0;
	margin-block: 0;
}

:where(ul, ol)[class] {
	list-style: none;
	padding-left: 0;
}

:where(a)[class] {
	display: inline-flex;
	text-decoration: none;
}

:where(input, button, textarea, select) {
	font: inherit;
	color: inherit;
}

:where(button, label, select, [type='button'], [type='submit']) {
	cursor: pointer;
}

:where(button, [type='button'], [type='submit']) {
	appearance: none;
	border: none;
	background: transparent;
	padding: 0;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

img,
video {
	display: block;
	max-width: 100%;
	height: auto;
}

:where(table) {
	border-collapse: collapse;
	border-spacing: 0;
}

p:not([class]):not(:last-child) {
	margin-bottom: 1.5rem;
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
