html {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

body * {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 1rem;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-block: 30px;
  border-bottom: 2px solid lightgray;
}

.header__square {
  width: 60px;
  aspect-ratio: 1;
  background-color: salmon;
}

.header__menu-list {
  display: flex;
  column-gap: 25px;
}

.header__contact {
  text-decoration: none;
  font-weight: 700;
}